body {
  background-color: #007FFF;
}
.login-form {
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  padding: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background-color: white;
}
.vcenter {
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.btn {
  border-radius: 0;
}
.container {
  position: relative;
}
.tr
