  {% extends "base.html" %}
  {% set active_page = "dashboard" %}

  {% block content %}
  <link rel='stylesheet' href='/static/css/dashboard.css' />
  <link rel='stylesheet' href='/static/css/bootstrap-tagsinput.css' />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css' />
  <link rel='stylesheet' href='/static/css/timingfield.css' />
  <script src='/static/js/addform.js'></script>
  <div class='container-fluid block-content'>
    <div class='row'>
      <div class='col-xs-4'>
        <div class='customize-container'>
          <a href='#' data-toggle='modal' data-target='#chart-modal' class='btn btn-lg customize'>Customize Dashboard</a>
        </div>
      </div>
      <div class='col-xs-4'>
        {% for goal in goals %}
        <div class='container-fluid pbar'>
          {% if goal[0].type.code == 'lift' %}
          <h2>{{ goal[0].name }} {{ goal[0].weight }} lbs</h2>
          <div class='progress'>
            <div class='progress-bar current-progress-tooltip' role='progressbar' aria-valuenow='{{ goal.weight }}' aria-valuemin='0' aria-valuemax='100' style='width: {{ goal[1] }}%'>
              <span class='percentage'>{{ goal[1] }}%</span>
              <span class='current-progress-text'>{{ goal[2] }}lbs</span>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class='col-xs-4'>
        <div class='add-workout'>
          <a href='#' data-toggle='modal' data-target='#workout-modal' class='btn btn-lg add'><span class='glyphicon glyphicon-plus'></span>Add Workout</a>
          <div class="modal fade" id="workout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="workout-modal-dialog modal-dialog">
            <div class="workoutmodal-container">
              <h1>Add Workout</h1>
              <a href='#' class='btn addfields' onclick='addLiftField()' id='addLiftField'><span class='glyphicon glyphicon-plus'></span>New Lift</a>
              <a href='#' class='btn addfields' onclick='addRunField()' id='addRunField'><span class='glyphicon glyphicon-plus'></span>New Cardio</a>
                <!-- Form Prototypes -->
                <div id='liftField' class='liftField workout-form' style='display: none;'>
                  <span class='form-title'>Lift</span>  <a href='#' onclick="addLiftField()"><span class='glyphicon glyphicon-plus add-glyph'></span></a>  <a href='#' class='remove' onclick="$(this).closest('.liftField').remove();"><span class='glyphicon glyphicon-minus remove-glyph' onclick="removeField()"></span></a>
                  <div class='form-group'>
                    <input type='hidden' name='type' class='form-control' id='lift' value='lift'/>
                  </div>
                  <div class='form-group'>
                    <label for='name' class=''>Name</label>
                    <input type='name' name='name' class='form-control lift-typeahead' id='name' placeholder="Name" />
                    <span class='error'>&nbsp;</span>
                  </div>
                  <div class='form-group'>
                    <label for='weight' class=''>Weight</label>
                    <input type='weight' name='weight' class='form-control' id='weight' placeholder="Weight" />
                    <span class='error'>&nbsp;</span>
                  </div>
                  <div class='form-group'>
                    <label for='sets' class=''>Sets</label>
                    <input type='sets' name='sets' class='form-control' id='sets' placeholder="Sets" />
                    <span class='error'>&nbsp;</span>
                  </div>
                  <div class='form-group'>
                    <label for='reps' class=''>Reps</label>
                    <input type='reps' name='reps' class='form-control' id='reps' placeholder="Reps" />
                    <span class='error'>&nbsp;</span>
                  </div>
                </div>

                <div id='runField' class='runField workout-form' style='display: none;'>
                  <span class='form-title'>Cardio</span> <a href='#' onclick="addRunField()">  <span class='glyphicon glyphicon-plus add-glyph'></span></a> <a href='#'><span class='glyphicon glyphicon-minus remove-glyph' onclick="$(this).closest('.runField').remove();"></span></a>
                  <div class='form-group'>
                    <input type='hidden' name='type' class='form-control' id='cardio' value='cardio'/>
                  </div>
                  <div class='form-group'>
                    <label for='name'>Name</label>
                    <input type='name' name='name' class='form-control cardio-typeahead' id='name' placeholder="Name"/>
                    <span class='error'>&nbsp;</span>
                  </div>
                  <div class='form-group'>
                    <label for='distance'>Distance</label>
                    <input type='distance' name='distance' class='form-control' id='distance' placeholder="Distance"/>
                    <span class='error'>&nbsp;</span>
                  </div>
                  <div class='form-group'>
                    <label for='duration'>Duration</label>
                    <input type='text' name='duration' class='form-control' id='duration' placeholder="Duration" />
                    <span class='error'>&nbsp;</span>
                  </div>
                </div>
                <!-- End Forms -->
                <form id='addWorkout'>
                  <span id='formanchor'></span>

                </form>
                <input class='btn save-workout' data-loading-text='Saving...' id='save' type='submit' name='save' class='' value='Save' />

            </div>
          </div>
          </div>
        </div>
        <div class='modal fade' role='dialog' id='chart-modal' tabindex='-1' aria-hidden='true' style='display:none;'>
          <div class='chart-modal-dialog modal-dialog'>
            <div class='chart-modal-container'>
              <ul class="nav nav-tabs">
                <li class='ntab active'><a data-toggle="tab" href="#chart-form">Charts</a></li>
                <li class='ntab'><a data-toggle="tab" href="#goal-form">Goals</a></li>
              </ul>
              <div class='tab-content'>
                <div id='chart-form' class='chart-form tab-pane fade in active'>
                  <div class='form-group'>
                    <label for='name'>Exercise Names</label>
                    <select id='chart-lift-names' multiple='multiple'>
                      {% for lift in lift_names %}
                      <option>{{ lift[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class='form-group'>
                    <label for='chartType'>Chart Type</label>
                    <select class='form-control' id='chart-type' name='chartType'>
                      <option>Line</option>
                      <option>Max</option>
                    </select>
                  </div>
                  <div class='form-group'>
                    <label for='activityType'>Exercise Type</label>
                    <select class='form-control' name='activityType' id='activity-type'>
                      <option>Lift</option>
                      <option>Cardio</option>
                    </select>
                  </div>
                  <input class='btn save-chart' data-loading-text='Saving...' id='save-chart' type='submit' name='save-chart' class='' value='Save' />
                </div>
                <div class='goal-form tab-pane fade' id='goal-form'>
                  <div class='form-group'>
                    <label for='name'>Exercise Names</label>
                    <select id='goal-lift-names' multiple='multiple'>
                      {% for lift in lift_names %}
                      <option>{{ lift[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class='form-group'>
                    <label for='activityType'>Goal Type</label>
                    <select class='form-control' name='activityType' id='activity-type'>
                      <option>Lift</option>
                      <option>Cardio</option>
                    </select>
                  </div>
                  <input class='btn save-goal' data-loading-text='Saving...' id='save-goal' type='submit' name='save-chart' class='' value='Save' />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='container recent'>
          <div class='recent-workouts'>
            <div class='recent-title'>
              Recent Workouts
            </div>
            <div class='workouts'>
              {% for workout, date, counter in recent_workouts %}
              <div class='panel-title workout'>
                <a class='workout-date' data-toggle='collapse' href='#collapse{{ counter }}'>{{ date|e }}</a>
              </div>
              <div class='panel-collapse collapse workout' id='collapse{{ counter }}'>
                <ul class='list-group'>
                  {% for cardio in workout.cardios %}
                  <li class='list-group-item'>
                    {{ cardio.name|e }} {{ cardio.distance }} {{ cardio.duration }}min
                  </li>
                  {% endfor %}
                  {% for lift in workout.lifts %}
                  <li class='list-group-item'>
                    {{ lift.name|e }} {{ lift.weight }}lbs {{ lift.sets }}x{{ lift.reps }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
    </div>
    <div class='chart-container'>
      {% for i in range(charts.__len__()) %}
      <div class='chart'>
        <canvas id='chart{{ i+1 }}'></canvas>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js'></script> -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.js'></script>
  <script src='/static/js/typeahead.jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js'></script>
  <!-- <script src='/static/js/analytics.js'></script> -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js'></script> -->
  <script src='/static/js/saveChart.js'></script>
  <script src='/static/js/saveGoal.js'></script>
  <script src='/static/js/saveWorkout.js'></script>
  <script src='/static/js/liftTypeahead.js'></script>
  <script src='/static/js/timingfield.js'></script>
  <script type='text/javascript'>
  {% for index in range(charts.__len__()) %}
  var ctx{{ index }} = document.getElementById('chart{{ index+1 }}');
  var chart{{ index }} = new Chart(ctx{{ index }}, {{ charts[index]|safe }});
  {% endfor %}

  </script>
  {% endblock %}
