{% extends "base.html" %}
{% set active_page = 'myworkouts' %}

{% block content %}
<link rel='stylesheet' href='/static/css/myworkouts.css' />
<div class='myworkouts'>
  {% for month in workouts %}
  <div class='panel-group workout-panel'>
    <div class='panel panel-default center'>
      <div class='panel-heading top-level'>
        <h4><a class='month' data-toggle='collapse' href='#{{ month }}'>{{ month }}</a></h4>
      </div>
      <div id='{{ month }}' class='panel-collapse collapse'>
        <ul class='list-group'>
          {% for i in range(workouts[month].__len__()) %}
            <li class='list-group-item'>
              <div class="panel-heading sub-panel">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ month }}{{ i }}">
                    {{ workouts[month][i].completed_time.strftime("%B %d %Y") }}
                  </a>
                  <span class='edit-button'>&nbsp;&nbsp;&nbsp;<a href='#'><small>Edit</small></a></span>
                </h4>
              </div>
              <div id="collapse{{ month }}{{ i }}" class="panel-collapse collapse">
                <div class="panel-body activities">
                  {% for cardio in workouts[month][i].cardios %}
                    <input type='hidden' value='{{ cardio.id }}' />
                    <span class='name'>{{ cardio.name }}</span> <span class='distance'>{{ cardio.distance }}</span> <span class='duration'>{{ cardio.duration }}</span><br />
                  {% endfor %}
                  {% for lift in workouts[month][i].lifts %}
                    <input type='hidden' value='{{ lift.id }}' />
                    <span class='name'>{{ lift.name|e }}</span> <span class='weight'>{{ lift.weight }}lbs</span> <span class='sets'>{{ lift.sets }}</span>x<span class='reps'>{{ lift.reps }}</span><br />
                  {% endfor %}
                </div>
              </div>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
